.container{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 13px;
    padding: 20px;
}

.button-number{
    font-size:xx-large;
    width:80px;
    aspect-ratio: 1/1;
}
.button-number:hover{
    background-color: aqua;
    color: grey;
}
.check-control{
    background-color: aqua;
    color: grey;
}

.input-box{
    padding: 13px;
    width: 30%;
    border-radius: 13px;
    background: rgb(255,255,255);
    background: linear-gradient(228deg, rgba(255,255,255,0.7091211484593838) 0%, rgba(255,255,255,0.5410539215686274) 87%);
   
}

.player-card{
    width: 100%;
    border-radius: 13px;

}


